<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">

<head>
	<title>Admin</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Favicon-->
	<div th:replace="~{/Admin/Urladmin/link.html}"></div>
</head>

<body class="theme-cyan">
	<!-- Top Bar -->
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header ">
				<a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar-collapse" aria-expanded="false"></a>

				<a class="navbar-brand" href="/home/index.html">

					BỆNH VIỆN MẮT VIỆT AN
					<!-- <i class="material-icons">add_location</i> -->
				</a>

				<a href="javascript:void(0);" class="bars"></a>
			</div>
			<div class="row ">
				<div class="col-lg-0 col-12">
					<div class="collapse navbar-collapse" id="navbar-collapse">

						<ul class="nav navbar-nav navbar-right">
							<!-- Call Search -->
							<!-- <li><a href="javascript:void(0);" class="js-search" data-close="true"><i
                                        class="material-icons">search</i></a></li> -->
							<!-- #END# Call Search -->
							<!-- Notifications -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
									role="button">
									<i class="material-icons">notifications</i>
									<span class="label-count">7</span>
								</a>
								<ul class="dropdown-menu">
									<li class="header">NOTIFICATIONS</li>
									<li class="body">
										<ul class="menu">
											<li>
												<a href="javascript:void(0);">
													<div class="icon-circle bg-light-green">
														<i class="material-icons">person_add</i>
													</div>
													<div class="menu-info">
														<h4>12 new members joined</h4>
														<p>
															<i class="material-icons">access_time</i> 14 mins ago
														</p>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<div class="icon-circle bg-cyan">
														<i class="material-icons">add_shopping_cart</i>
													</div>
													<div class="menu-info">
														<h4>4 sales made</h4>
														<p>
															<i class="material-icons">access_time</i> 22 mins ago
														</p>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<div class="icon-circle bg-red">
														<i class="material-icons">delete_forever</i>
													</div>
													<div class="menu-info">
														<h4><b>Nancy Doe</b> deleted account</h4>
														<p>
															<i class="material-icons">access_time</i> 3 hours ago
														</p>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<div class="icon-circle bg-orange">
														<i class="material-icons">mode_edit</i>
													</div>
													<div class="menu-info">
														<h4><b>Nancy</b> changed name</h4>
														<p>
															<i class="material-icons">access_time</i> 2 hours ago
														</p>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<div class="icon-circle bg-blue-grey">
														<i class="material-icons">comment</i>
													</div>
													<div class="menu-info">
														<h4><b>John</b> commented your post</h4>
														<p>
															<i class="material-icons">access_time</i> 4 hours ago
														</p>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<div class="icon-circle bg-light-green">
														<i class="material-icons">cached</i>
													</div>
													<div class="menu-info">
														<h4><b>John</b> updated status</h4>
														<p>
															<i class="material-icons">access_time</i> 3 hours ago
														</p>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<div class="icon-circle bg-purple">
														<i class="material-icons">settings</i>
													</div>
													<div class="menu-info">
														<h4>Settings updated</h4>
														<p>
															<i class="material-icons">access_time</i> Yesterday
														</p>
													</div>
												</a>
											</li>
										</ul>
									</li>
									<li class="footer">
										<a href="javascript:void(0);">View All Notifications</a>
									</li>
								</ul>
							</li>
							<!-- #END# Notifications
                             Tasks -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
									role="button">
									<i class="material-icons">flag</i>
									<span class="label-count">9</span>
								</a>
								<ul class="dropdown-menu">
									<li class="header">TASKS</li>
									<li class="body">
										<ul class="menu tasks">
											<li>
												<a href="javascript:void(0);">
													<h4>
														Footer display issue
														<small>32%</small>
													</h4>
													<div class="progress">
														<div class="progress-bar bg-pink" role="progressbar"
															aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
															style="width: 32%">
														</div>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<h4>
														Make new buttons
														<small>45%</small>
													</h4>
													<div class="progress">
														<div class="progress-bar bg-cyan" role="progressbar"
															aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
															style="width: 45%">
														</div>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<h4>
														Create new dashboard
														<small>54%</small>
													</h4>
													<div class="progress">
														<div class="progress-bar bg-teal" role="progressbar"
															aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
															style="width: 54%">
														</div>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<h4>
														Solve transition issue
														<small>65%</small>
													</h4>
													<div class="progress">
														<div class="progress-bar bg-orange" role="progressbar"
															aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
															style="width: 65%">
														</div>
													</div>
												</a>
											</li>
											<li>
												<a href="javascript:void(0);">
													<h4>
														Answer GitHub questions
														<small>92%</small>
													</h4>
													<div class="progress">
														<div class="progress-bar bg-purple" role="progressbar"
															aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
															style="width: 92%">
														</div>
													</div>
												</a>
											</li>
										</ul>
									</li>
									<li class="footer">
										<a href="javascript:void(0);">View All Tasks</a>
									</li>
								</ul>
							</li>
							<!-- #END# Tasks -->
							<li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar"
									data-close="true"><i class="material-icons">brightness_7</i></a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</nav>
	<!-- #Top Bar -->
	<section>
		<!-- Left Sidebar -->
		<aside id="leftsidebar" class="sidebar">
			<!-- User Info -->
			<div class="user-info">
				<div class="image">
					<img th:src="@{/assets/vendorsAdmin/images/logo.png}" alt="" class="img-fluid h-50">
					<!-- <img src="images/user.png" width="48" height="48" alt="User" /> -->
				</div>
			</div>
			<!-- #User Info -->
			<!-- Menu -->
			<div class="menu">
				<ul class="list">
					<li class="header"></li>
					<li class="active">
						<a href="/report/report.html">
							<i class="material-icons">account_balance</i>
							<span>Thống Kê</span>
						</a>
					</li>
					<li class="header"></li>
					<li class="active">
						<a href="/role/list.html">
							<i class="material-icons">group_add</i>
							<span>Quản Lý Quyền</span>
						</a>
					</li>
					<li class="header"></li>
					<li class="active">
						<a href="/authorities/list.html">
							<i class="material-icons">group_work</i>
							<span>Quản Lý Phân Quyền</span>
						</a>
					</li>
					<li class="header"></li>
					<li class="active">
						<a href="/user/list.html">
							<i class="material-icons">group</i>
							<span>Quản Lý Nhân Viên</span>
						</a>
					</li>
					<li class="header"></li>
					<li class="active">
						<a href="/expertDoctor/list.html">
							<i class="material-icons">queue</i>
							<span>Quản Lý Chuyên Ngành</span>
						</a>
					</li>
					<li class="header"></li>
					<li class="active">
						<a href="/customers/list.html">
							<i class="material-icons">recent_actors</i>
							<span>Quản Lý Khách Hàng</span>
						</a>
					</li>
					<li class="header"></li>
					<li class="active">
						<a href="/voucher/list.html">
							<i class="material-icons">layers</i>
							<span>Quản Lý Giảm Giá</span>
						</a>
					</li>
					<li class="header"></li>
					<li class="active">
						<a href="/method/list.html">
							<i class="material-icons">style</i>
							<span>Quản Lý Phương Pháp</span>
						</a>
					</li>
					<li class="header"></li>
					<li class="active">
						<a href="/crm_entry/list.html">
							<i class="material-icons">folder_special</i>
							<span>Quản Lý All</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- #Menu -->
			<!-- Footer -->
			<div class="legal">
				<div class="copyright" style="text-align: center;">
					<img th:src="@{/assets/vendorsAdmin/images/logoforever.png}" width="50" height="50" alt="">
					<a href="javascript:void(0);"> FOREVER - MEDIA</a>.
				</div>
				<!-- <div class="version">
                    <b>Version: </b> 1.0.5
                </div> -->
			</div>
			<!-- #Footer -->
		</aside>
		<!-- #END# Left Sidebar -->
		<!-- Right Sidebar -->
		<aside id="rightsidebar" class="right-sidebar">
			<ul class="nav nav-tabs tab-nav-right" role="tablist">
				<li role="presentation" class="active"><a href="#skins" data-toggle="tab">Đổi màu</a></li>
				<li role="presentation"><a href="#settings" data-toggle="tab">Tài Khoản</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active in active" id="skins">
					<ul class="demo-choose-skin">
						<li data-theme="cyan" class="active">
							<div class="cyan"></div>
							<span>Cyan</span>
						</li>
						<li data-theme="pink">
							<div class="pink"></div>
							<span>Pink</span>
						</li>
						<li data-theme="purple">
							<div class="purple"></div>
							<span>Purple</span>
						</li>
						<li data-theme="deep-purple">
							<div class="deep-purple"></div>
							<span>Deep Purple</span>
						</li>
						<li data-theme="indigo">
							<div class="indigo"></div>
							<span>Indigo</span>
						</li>
						<li data-theme="blue">
							<div class="blue"></div>
							<span>Blue</span>
						</li>
						<li data-theme="light-blue">
							<div class="light-blue"></div>
							<span>Light Blue</span>
						</li>
						<li data-theme="red">
							<div class="red"></div>
							<span>Red</span>
						</li>

						<li data-theme="teal">
							<div class="teal"></div>
							<span>Teal</span>
						</li>
						<li data-theme="green">
							<div class="green"></div>
							<span>Green</span>
						</li>
						<li data-theme="light-green">
							<div class="light-green"></div>
							<span>Light Green</span>
						</li>
						<li data-theme="lime">
							<div class="lime"></div>
							<span>Lime</span>
						</li>
						<li data-theme="yellow">
							<div class="yellow"></div>
							<span>Yellow</span>
						</li>
						<li data-theme="amber">
							<div class="amber"></div>
							<span>Amber</span>
						</li>
						<li data-theme="orange">
							<div class="orange"></div>
							<span>Orange</span>
						</li>
						<li data-theme="deep-orange">
							<div class="deep-orange"></div>
							<span>Deep Orange</span>
						</li>
						<li data-theme="brown">
							<div class="brown"></div>
							<span>Brown</span>
						</li>
						<li data-theme="grey">
							<div class="grey"></div>
							<span>Grey</span>
						</li>
						<li data-theme="blue-grey">
							<div class="blue-grey"></div>
							<span>Blue Grey</span>
						</li>
						<li data-theme="black">
							<div class="black"></div>
							<span>Black</span>
						</li>
					</ul>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="settings">
					<div class="demo-settings ">
						<button class="demo-button btn bg-cyan waves-effect">
							<i class="material-icons">home</i> Trang Chủ
						</button>
						<button class="demo-button btn bg-cyan waves-effect">
							<i class="material-icons">vpn_key</i> Đổi Mật Khẩu
						</button>
						<button class="demo-button btn bg-cyan waves-effect">
							<i class="material-icons">chat</i> Đổi Thông Tin
						</button>
						<button class="demo-button btn bg-cyan waves-effect">
							<i class="material-icons">input</i> Đăng Xuất
						</button>
					</div>
				</div>
		</aside>
		<!-- #END# Right Sidebar -->
	</section>


	<section class="content">
		<div class="container-fluid">
			<div class="marquee">
				<marquee behavior="scroll" direction="left" scrollamount="20">
					CHÀO MỪNG BẠN ĐÃ ĐÊN VỚI BỆNH VIỆN MẮT VIỆT AN
				</marquee>
			</div>
			<div class="row clearfix">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box  hover-expand-effect" style="background-color: #eeb4be;">
						<div class="icon">
							<i class="material-icons">playlist_add_check</i>
						</div>
						<div class="content">
							<div class="text">NEW TASKS</div>
							<div class="number count-to" data-from="0" data-to="125" data-speed="15"
								data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box hover-expand-effect" style="background-color: #f7dea8;">
						<div class="icon">
							<i class="material-icons">help</i>
						</div>
						<div class="content">
							<div class="text">NEW TICKETS</div>
							<div class="number count-to" data-from="0" data-to="257" data-speed="1000"
								data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box  hover-expand-effect" style="background-color: #e6e6fa;">
						<div class="icon">
							<i class="material-icons">forum</i>
						</div>
						<div class="content">
							<div class="text">NEW COMMENTS</div>
							<div class="number count-to" data-from="0" data-to="243" data-speed="1000"
								data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="info-box  hover-expand-effect" style="background-color: #add8e6;">
						<div class="icon">
							<i class="material-icons">person_add</i>
						</div>
						<div class="content">
							<div class="text">NEW VISITORS</div>
							<div class="number count-to" data-from="0" data-to="1225" data-speed="1000"
								data-fresh-interval="20"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row ">
						<div class="col-lg-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Thống kê</h4>
									<canvas id="doughnutChart"></canvas>
								</div>
							</div>
						</div>
						<div class="col-lg-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Thống kê năm</h4>
									<canvas id="barChart"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row clearfix">

				<div class="col-lg-6 col-sm-12 col-md-4 col-12">
					<div class="card">
						<div class="body bg-cyan">
							<div class="m-b--35 font-bold">Theo Tháng</div>
							<ul class="dashboard-stat-list">
								<li>
									Tháng 1
									<span class="pull-right">
										<i class="material-icons">trending_up</i>
									</span>
								</li>
								<li>
									Tháng 2
									<span class="pull-right">
										<i class="material-icons">trending_up</i>
									</span>
								</li>
								<li>
									Tháng 3
									<span class="pull-right">
										<i class="material-icons">trending_up</i>
									</span>
								</li>
								<li>
									Tháng 4
									<span class="pull-right">
										<i class="material-icons">trending_up</i>
									</span>
								</li>
								<li>
									Tháng 5
									<span class="pull-right">
										<i class="material-icons">trending_up</i>
									</span>
								</li>
								<li>
									Tháng 6
									<span class="pull-right">
										<i class="material-icons">trending_up</i>
									</span>
								</li>
								<li>
									Tháng 7
									<span class="pull-right">
										<i class="material-icons">trending_up</i>
									</span>
								</li>
								<li>
									Tháng 8
									<span class="pull-right">
										<i class="material-icons">trending_up</i>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-12 col-md-4 col-12">
					<div class="card">
						<div class="body bg-teal">
							<div class="font-bold m-b--35">Thống kê theo ngày</div>
							<ul class="dashboard-stat-list">
								<li>
									Thứ 2
									<span class="pull-right"><b>12</b> <small>TICKETS</small></span>
								</li>
								<li>
									Thứ 3
									<span class="pull-right"><b>15</b> <small>TICKETS</small></span>
								</li>
								<li>
									Thứ 3
									<span class="pull-right"><b>90</b> <small>TICKETS</small></span>
								</li>
								<li>
									Thứ 4
									<span class="pull-right"><b>342</b> <small>TICKETS</small></span>
								</li>
								<li>
									Thứ 5
									<span class="pull-right"><b>4 225</b> <small>TICKETS</small></span>
								</li>
								<li>
									Thứ 6
									<span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
								</li>
								<li>
									Thứ 7
									<span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
								</li>
								<li>
									Chủ nhật
									<span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="marquee">
				<marquee behavior="scroll" direction="left" scrollamount="20">
					CHÀO MỪNG BẠN ĐÃ ĐÊN VỚI BỆNH VIỆN MẮT VIỆT AN
				</marquee>
			</div>
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header">
							<h2>Danh sách nhân viên</h2>

							<div class="header-dropdown m-r--5">
								<a class="btn  waves-effect">
									<i class="material-icons">add</i>
									<span>Create</span>
								</a>
							</div>
						</div>
						<div class="body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped table-hover dataTable  js-exportable">
									<thead>
										<tr>
											<th>Name</th>
											<th>Position</th>
											<th>Office</th>
											<th>Age</th>
											<th>Start date</th>
											<th>Salary</th>
											<th>

											</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Name</th>
											<th>Position</th>
											<th>Office</th>
											<th>Age</th>
											<th>Start date</th>
											<th>Salary</th>
											<th>

											</th>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td>Tiger Nixon</td>
											<td>System Architect</td>
											<td>Edinburgh</td>
											<td>61</td>
											<td>2011/04/25</td>
											<td>$320,800</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Garrett Winters</td>
											<td>Accountant</td>
											<td>Tokyo</td>
											<td>63</td>
											<td>2011/07/25</td>
											<td>$170,750</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Ashton Cox</td>
											<td>Junior Technical Author</td>
											<td>San Francisco</td>
											<td>66</td>
											<td>2009/01/12</td>
											<td>$86,000</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Cedric Kelly</td>
											<td>Senior Javascript Developer</td>
											<td>Edinburgh</td>
											<td>22</td>
											<td>2012/03/29</td>
											<td>$433,060</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Airi Satou</td>
											<td>Accountant</td>
											<td>Tokyo</td>
											<td>33</td>
											<td>2008/11/28</td>
											<td>$162,700</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Brielle Williamson</td>
											<td>Integration Specialist</td>
											<td>New York</td>
											<td>61</td>
											<td>2012/12/02</td>
											<td>$372,000</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Herrod Chandler</td>
											<td>Sales Assistant</td>
											<td>San Francisco</td>
											<td>59</td>
											<td>2012/08/06</td>
											<td>$137,500</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Rhona Davidson</td>
											<td>Integration Specialist</td>
											<td>Tokyo</td>
											<td>55</td>
											<td>2010/10/14</td>
											<td>$327,900</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Colleen Hurst</td>
											<td>Javascript Developer</td>
											<td>San Francisco</td>
											<td>39</td>
											<td>2009/09/15</td>
											<td>$205,500</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Sonya Frost</td>
											<td>Software Engineer</td>
											<td>Edinburgh</td>
											<td>23</td>
											<td>2008/12/13</td>
											<td>$103,600</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Jena Gaines</td>
											<td>Office Manager</td>
											<td>London</td>
											<td>30</td>
											<td>2008/12/19</td>
											<td>$90,560</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Quinn Flynn</td>
											<td>Support Lead</td>
											<td>Edinburgh</td>
											<td>22</td>
											<td>2013/03/03</td>
											<td>$342,000</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Charde Marshall</td>
											<td>Regional Director</td>
											<td>San Francisco</td>
											<td>36</td>
											<td>2008/10/16</td>
											<td>$470,600</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Haley Kennedy</td>
											<td>Senior Marketing Designer</td>
											<td>London</td>
											<td>43</td>
											<td>2012/12/18</td>
											<td>$313,500</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Tatyana Fitzpatrick</td>
											<td>Regional Director</td>
											<td>London</td>
											<td>19</td>
											<td>2010/03/17</td>
											<td>$385,750</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Michael Silva</td>
											<td>Marketing Designer</td>
											<td>London</td>
											<td>66</td>
											<td>2012/11/27</td>
											<td>$198,500</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Paul Byrd</td>
											<td>Chief Financial Officer (CFO)</td>
											<td>New York</td>
											<td>64</td>
											<td>2010/06/09</td>
											<td>$725,000</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>
										<tr>
											<td>Gloria Little</td>
											<td>Systems Administrator</td>
											<td>New York</td>
											<td>59</td>
											<td>2009/04/10</td>
											<td>$237,500</td>
											<td>
												<a href="">
													<img src="/images/edit6.png" alt="" width="30" height="30">
												</a>
												<a href="">
													<img src="/images/delete.png" alt="" width="30" height="30">

												</a>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="marquee">
				<marquee behavior="scroll" direction="left" scrollamount="20">
					CHÀO MỪNG BẠN ĐÃ ĐÊN VỚI BỆNH VIỆN MẮT VIỆT AN
				</marquee>
			</div>
			<div class="block-header">
				<!-- <h2>
                    FORM VALIDATION
                    <small>Taken from <a href="https://jqueryvalidation.org/"
                            target="_blank">jqueryvalidation.org</a></small>
                </h2> -->
			</div>
			<!-- Basic Validation -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header" style="text-align: center;">
							<h2>THÊM KHÁCH HÀNG</h2>
							<!-- <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                        role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul> -->
						</div>
						<div class="body">
							<form id="form_validation" method="POST">
								<div class="form-group form-float">
									<label class="form-label">Họ và tên:</label>
									<div class="form-line">
										<input type="text" class="form-control" name="fullname" required>

									</div>
								</div>
								<div class="form-group form-float">
									<label class="form-label">Họ và tên:</label>
									<div class="form-line">
										<input type="text" class="form-control" name="address" required>
										<label class="form-label">Địa chỉ:</label>
									</div>
								</div>
								<div class="form-group form-float">
									<label class="form-label">Số điện thoại:</label>
									<div class="form-line">
										<input type="text" class="form-control" name="phone" required>

									</div>
								</div>
								<div class="form-group form-float">
									<label class="form-label">Email:</label>
									<div class="form-line">
										<input type="email" class="form-control" name="email" required>

									</div>
								</div>
								<div class="form-group">
									<label class="form-label">Giới tính:</label><br>
									<input type="radio" name="gender" id="nam" class="with-gap">
									<label for="nam">Nam</label>

									<input type="radio" name="gender" id="nu" class="with-gap">
									<label for="nu" class="m-l-20">Nữ</label>
								</div>
								<!-- Select -->
								<div class="form-group">
									<label class="form-label">Phương thức đến:</label>
									<select class="form-control show-tick">
										<option value="">-- Đến từ --</option>
										<option value="Fanpage">Fanpage</option>
										<option value="Landing page">Landing page</option>
										<option value="Người thân giới thiệu">Người thân giới thiệu</option>
										<option value="Cộng tác viên">Cộng tác viên</option>
										<option value="Tự đến">Tự đến</option>
										<option value="Hotline">Hotline</option>
									</select>
								</div>
								<div class="form-group form-float">
									<label class="form-label">Ngày liên hệ:</label>
									<div class="form-line">

										<input type="date" class="form-control" name="dateto" required>

									</div>
								</div>
								<div class="form-group">
									<label class="form-label">Hẹn bác sĩ chuyên gia:</label><br>
									<input type="radio" name="doctorBK" id="co" class="with-gap">
									<label for="co">Có</label>

									<input type="radio" name="doctorBK" id="khong" class="with-gap">
									<label for="khong" class="m-l-20">Không</label>
								</div>
								<div class="form-group form-float">
									<label class="form-label">Ngày hẹn:</label>
									<div class="form-line">
										<input type="date" class="form-control" name="appdate" required>
									</div>
								</div>
								<div class="form-group">
									<label class="form-label">Khám tại bệnh viên:</label><br>
									<input type="radio" name="check_at" id="co1" class="with-gap">
									<label for="co1">Có</label>

									<input type="radio" name="check_at" id="khong1" class="with-gap">
									<label for="khong1" class="m-l-20">Không</label>
								</div>
								<div class="form-group form-float">
									<label class="form-label">Ngày khám tại bệnh viện:</label>
									<div class="form-line">
										<input type="date" class="form-control" name="hospitalvisit" required>

									</div>
								</div>
								<div class="form-group">
									<label class="form-label">Phẫu thuật:</label><br>
									<input type="radio" name="surgery" id="co2" class="with-gap">
									<label for="co2">Có</label>

									<input type="radio" name="surgery" id="khong2" class="with-gap">
									<label for="khong2" class="m-l-20">Không</label>
								</div>
								<div class="form-group form-float">
									<label class="form-label">Ngày phẫu thuật:</label>
									<div class="form-line">
										<input type="date" class="form-control" name="surgerydate" required>

									</div>
								</div>
								<div class="form-group form-float">
									<label class="form-label">Ghi chú:</label>
									<div class="form-line">
										<textarea name="description" cols="30" rows="5" class="form-control no-resize"
											required></textarea>

									</div>
								</div>
								<!-- <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="password" class="form-control" name="password" required>
                                        <label class="form-label">Password</label>
                                    </div>
                                </div> -->
								<div>
									<button class="btn btn-primary waves-effect" type="submit">Lưu</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Jquery Core Js -->

	<div th:replace="~{Admin/Urladmin/script.html}"></div>

</body>

</html>