<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Trang chủ</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<div th:replace="~{/User/Url/link.html}"></div>
</head>
<body>

	<div th:replace="~{/User/layout/header.html}"></div>
	
	<main th:replace="~{/User/layout/main.html}"></main>
	
	<div th:replace="~{/User/layout/footer.html}"></div>
	
	<div th:replace="~{/User/Url/script.html}"></div>
	
</body>
</html>